.emp-profile-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    cursor: pointer;
}

.back-button svg {
    display: block;
}

.emp-profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px 0 #b1d5e6;     font-family: Arial, sans-serif;
    position: relative;
}

.emp-profile-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.emp-profile-img img {
    width: 200px;
    height: 250px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 200px;
}

.emp-profile-details {
    flex: 1;
    color: #333;
}

.emp-profile-details h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
}

.emp-profile-details .emp-email {
    color: #007bff;
    margin-bottom: 15px;
    font-weight: bold;
}

.emp-info p {
    color: #666;
    margin: 7px 0;
}

.emp-additional-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}

.left-info, .right-info {
    flex: 1;
}

.left-info h3, .right-info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.left-info p, .right-info p {
    margin: 5px 0;
    color: #656565;
}

.light-text {
    color: #999;
}
