/* EditProfileModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.modal-heading {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.left-section .profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-left: 20px;
  border: none;
}

.change-pic-btn {
  width: 100%;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.change-pic-btn:hover {
  background-color: #0056b3;
}

.right-section {
  width: 70%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-group input, .form-group select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.form-group select {
  width: 96%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}


.modal-actions {
  display: flex;
  justify-content: space-around;
}

.btn-save, .btn-cancel {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-cancel {
  background-color: #6c757d;
}

.btn-save:hover {
  background-color: #0056b3;
}

.btn-cancel:hover {
  background-color: #5a6268;
}
