.present-model-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.present-model-modal-overlay.show {
  display: block;
}

.present-model-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 700px;
  z-index: 1000;
  display: none;
}

.present-model-modal-content.show {
  display: block;
}

.present-model-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.present-model-modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 0;
  margin-top: -12px;
}

.present-model-modal-content input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  width: 200px;
  padding-left: 30px;
}

.present-model-modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.present-model-modal-content thead th {
  background-color: #e0f0ff;
  color: #333;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.present-model-modal-content tbody tr {
  border-bottom: 1px solid #ddd;
}

.present-model-modal-content tbody tr:last-child {
  border-bottom: none;
}

.present-model-modal-content tbody tr:hover {
  background-color: #f1f1f1;
}

.present-model-modal-content th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.present-model-modal-content td img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.present-model-modal-content .employee-name {
  display: flex;
  align-items: center;
  border: none; 
}

.present-model-modal-content td, th {
  font-size: 14px;
  border-right: none;
  border-left: none;
}





.present-model-modal-content .download-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.present-model-modal-content .download-btn:hover {
  background-color: #45a049;
}
