.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #656565;
}
.navbar-links a:hover{
  color: #007bff;
}
